* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration-line: none;
    color: white;
} 

body { 
    background: linear-gradient(315deg, rgba(1, 9, 8, 0.863), rgb(59, 72, 71));
}

aside{
  display:block;
  
}

header {
    
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 10px;
}

nav {
    text-align: right;
    text-decoration: underline;
    display: inline;
    margin-top: 1%;
    text-decoration: none;
}

ul {
  list-style-type: none;
}

h3 {
  padding-top: 5px;
}

nav a:hover {
    color:blue;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}

.project-card {
    width: 30%;
    min-height: 200px;
    margin: 15px;
    border: 3px solid rgb(62, 78, 77);
}

.project-card div {
    padding: 10px;

}

.project-card div h3 {
  text-align: center;
  height: 30px;
  width: 100%;
  margin-top: 0;
  color:white;  
}

.project-card div p {
  text-align: center;
}

.project-card div img {
  width: 99%;
  justify-content: center;
}
/*used image place holder for the porject tabs without projects */
.placeholder-img {
    background: #fff;
    width: 70%;
    padding: 1px;
    height: 180px;
    border: 1px solid rgb(8, 107, 99);
    border-radius: 1px;
    color:rgb(8, 107, 99);;
}

.sections {
  padding-left: 15px;
  padding-right: 15px;
}
/*added color change to links when hovered over*/
#contact-tabs a:hover {
    color:blue;
    display: inline-block;
}

#avatar {
  width: 20%;
  height: 20%;
}

#first-proj {
  display: flex;
  width: 100%;
  min-height: 200px;
  margin: 15px;
  border: 3px solid rgb(62, 78, 77);
  padding: 15px;
}

#first-proj img {
  width: 99%;
  justify-content: center;
}

#first-proj h3 {
  text-align: center;
  height: 30px;
  margin-top: 0;
  color:white; 
}

#first-proj p {
  text-align:center;
}

#hero {  
  width: 100%;
  height: 100%;
}

#meSec{
  display: flex;
  flex-wrap: wrap;
}

#summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
/*added queries to make the webpage adjust with screen size*/
@media screen and (max-width: 1140px) {
    .project-card {
        width: 45%;
        justify-content:space-between
    }
    
    header {
      background: #1a6764;
    }

    .project-card div h3 {
        background: #1a6764;
    }
  }

@media screen and (max-width: 800px) {
    .project-card {
        width: 100%;
    }
    
    header {
      background: #264948;
    }
    
    .project-card div h3 {
        background: #264948;
    }
  }
