* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration-line: none;
    color: white;
} 

body { 
    background: linear-gradient(315deg, rgba(109, 224, 205, 0.863), rgb(8, 107, 99));
}

header {
    background: rgb(8, 107, 99);
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 10px;
}

section {
  padding-left: 15px;
  padding-right: 15px;
}

nav {
    text-align: right;
    text-decoration: underline;
    display: inline;
    margin-top: 1%;
    text-decoration: none;
}

img {
    width:150px;
    height: 150px;
    display: block;
}

ul {
  list-style-type: none;
}

h3 {
  padding-top: 5px;
}

.project-1img {
    width: 100%;
    height: 100%;
}

nav a:hover {
    color:blue;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}

.project-card {
    width: 30%;
    min-height: 200px;
    margin: 15px;
    border: 3px solid rgb(8, 107, 99);
    border-radius:5%;
}

.project-card div {
    padding: 15px;

}

.project-card div h3 {
    text-align: center;
    height: 30px;
    margin-top: 0;
    background:rgb(8, 107, 99);
    color:white;
    border-radius: 10px 10px;
}
/*used image place holder for the porject tabs without projects */
.placeholder-img {
    background: #fff;
    width: 70%;
    padding: 10px;
    height: 180px;
    border: 1px solid black;
    color:black;
}
/*added color change to links when hovered over*/
#contact-tabs a:hover {
    color:blue;
    display: inline-block;
}
/*added queries to make the webpage adjust with screen size*/
@media screen and (max-width: 1140px) {
    .project-card {
        width: 45%;
        justify-content:space-between
    }
    
    header {
      background: #1a6764;
    }

    .project-card div h3 {
        background: #1a6764;
    }
  }

@media screen and (max-width: 800px) {
    .project-card {
        width: 100%;
    }
    
    header {
      background: #264948;
    }
    
    .project-card div h3 {
        background: #264948;
    }
  }
